#:schema https://raw.githubusercontent.com/YunoHost/apps/main/schemas/manifest.v2.schema.json

packaging_format = 2

id = "mazanoke"
name = "Mazanoke"
description.en = "Self-hosted local image optimizer"
description.fr = "Optimiseur d'images local auto-hébergé"

version = "1.1.5~ynh1"

maintainers = ["eric_G"]

[upstream]
license = "free"
website = "https://mazanoke.com/"
demo = "https://mazanoke.com/"
code = "https://github.com/civilblur/mazanoke"


[integration]
yunohost = ">= 12.1.17"
helpers_version = "2.1"
architectures = "all"
multi_instance = true

ldap = false
sso = false

disk = "50M"
ram.build = "50M"
ram.runtime = "50M"

[install]
    [install.domain]
    type = "domain"

    [install.path]
    type = "path"
    default = "/emazanoke"

    [install.init_main_permission]
    type = "group"
    default = "visitors"

[resources]

    [resources.sources]

    [resources.sources.main]
    url = "https://github.com/civilblur/mazanoke/archive/refs/tags/v1.1.5.tar.gz"
    sha256 = "df6eb356dab8aced80c1cdae53dd58a2d298cf4e1bc259119dcea92112f25cc1"

    autoupdate.strategy = "latest_github_tag"

    [resources.system_user]

    [resources.install_dir]

    [resources.permissions]
    main.url = "/"
